<header class = 'nav' >
  <nav class = 'nav-menu'>
    <a href='{{ absURL "" }}' class = 'nav-brand nav_item'>{{ .Site.Title }}</a>
    <!-- <div class = 'nav_bar-wrap'>
      <div class = 'nav_bar'></div>
    </div> -->
    <ul class="nav-menu">
      <li class="nav-menu"><a href='{{ absURL "/" }}' style="padding: 10px">Home</a></li>
      <li class="nav-menu"><a href='{{ absURL "talks/" }}' style="padding: 10px">Talks</a></li>
      <li class="nav-menu"><a href='{{ absURL "about/" }}' style="padding: 10px">About</a></li>
    </ul>
  </nav>
</header>
